# Python cache
__pycache__/
**/__pycache__/

# Virtual environment
.venv/
venv/

# Django va boshqa lokal fayllar
db.sqlite3
.env

# Pytest, coverage va log fayllar
*.log
.coverage
htmlcov/

# IDE fayllari
.vscode/
.idea/
